body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F7F5F0; 
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dee2e6; 
}

.navbar .container {
    padding: 0;
}

.navbar-brand {
    font-size: 1.25rem; 
    font-weight: bold;
}

.navbar-nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.hero {
    position: relative;
    background: url('https://raw.githubusercontent.com/mikupiku/languageWebsite/refs/heads/main/Images/image1.png') center/cover no-repeat;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.hero .container {
    position: relative;
    z-index: 1;
}