body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #F7F5F0;
}

.navbar {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid #dee2e6; 
}

.navbar .container {
    padding: 0;
}

.navbar-brand {
    font-size: 1.25rem; 
    font-weight: bold;
}

.navbar-nav .nav-link {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-weight: bold;
}

.title {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.subtitle {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.service-box {
    background-color: #8B8B6C;
    padding: 20px;
    border-radius: 15px;
    color: white;
    text-align: center;
}

.service-box h3 {
    margin-bottom: 10px;
}

.service-box .service-details {
    font-size: 1rem;
}

.service-box button {
    background-color: #3B3B3B;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.service-box button:hover {
    background-color: #575757;
}

.back-btn {
    width: 150px;
    font-size: 1.2rem;
    padding: 10px;
    background-color: #3B3B3B;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 150px;
    margin-left: 20px;
    margin-right: 100px;
    margin-bottom: 20px;
    position: relative;
}

.back-btn:hover {
    background-color: #666;
}